---
import SessionTable from "../components/SessionTable.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <header class="bg-[#46AA65] text-white">
    <h1 class="text-center text-3xl pt-8 pb-4 font-black">
      PHPカンファレンス関西2025<span class="block text-xl">振り返り</span>
    </h1>
  </header>

  <main class="w-[80vw] max-w-[880px] mx-auto">
    <section class="py-10 min-md:py-[6vw]">
      <h2 class="text-2xl mb-3">7月18日（金）</h2>
      <SessionTable
        sessions={[
          {
            title: "PHPからはじめるコンピュータアーキテクチャ",
            summary:
              "コンピュータにおけるプログラム実行のレイヤー構造をテーマに、ソフトウェアプログラムがどこでどう動いているのか、その裏側にあるレイヤー構成と開発への活用について解説して頂いた。<br>このレイヤー構造がある為に、仮想環境（Docker）やエミュレーション等の技術が存在する。また、余談としてハードウェア層の最下層であるCPUの基本構造についても説明して頂いた。",
            slide:
              "https://speakerdeck.com/tomzoh/from-scripts-to-silicon-a-journey-through-the-layers-of-computing",
            memos: [
              "プログラム実行のレイヤー構造の存在を意識した事がなかった為、プログラムの動作についてより理解が深まった。",
              "これまで何となく使っていたDockerの仕組みを理解する取っ掛かりとなりそう。",
            ],
          },
          {
            title: "PHPUnitの限界をPlaywrightで補完するテストアプローチ",
            summary:
              "アプリケーション開発においてはテストコードを書く事は必須であり、そのツールとしてPHPUnitが主流であるという前提がある。それを踏まえてPHPUnitではテストし辛いE2Eテスト（フロントの見た目のテスト）をPlaywrightで補完的に行うという知見。PlayWriteの主な機能や具体的な使い方等を説明して頂いた。複雑なフォームの実装など、web制作の現場にも使えそうなツールだと感じた。",
            slide:
              "https://speakerdeck.com/yuzneri/phpunitnoxian-jie-woplaywrightdebu-wan-surutesutoapuroti",
            memos: [
              "普段web制作をしている身としては、E2Eテストは分かっても単体テストの意義があまりよく分かっていなかったが、このセッションを聞いて初めて実態を掴めた。",
              "スライド中のテストピラミッドの図が分かりやすく、「細かいパーツ単位のテストをやっておいて全体のテストを減らす」という考え方はweb制作にも適用できそうだと思った。",
              "現在の仕事内容ではE2Eテスト以外あまり必要ではなさそうだが、今後もしアプリケーション的要素の強い仕事があった時は単体テストも検討してみたい。javascriptの場合「Jest」というツールがあるらしい。",
              "今までテストツールとしてCypressを使用していたがPlayWriteも使ってみたいと思った。PlayWriteの方が使える機能も多そうなので良ければ代替として使いたい",
            ],
          },
          {
            title: "抽象化という思考のツール -理解と実践-",
            summary:
              "サービス開発やソフトウェア設計において「抽象化」という思考ツールを重要な思考手法として捉え、具体的な実践方法とその意義についてお話し頂いた。<br>抽象化とは、文脈に応じて概念を整理し、必要な情報だけを取り出す思考プロセスであり、サービス設計・アプリ開発・クラス設計など、あらゆる場面で有効な思考法。また、抽象化を行う際は「どの様な文脈で抽象化するか」という事が重要であり、抽象度の粒度を均一に保つ意識が大切である事を知れた。",
            slide: "",
            memos: [
              "クラスやメソッドを作る際、いつの間にか粒度やルールがぐちゃぐちゃになって見辛いという事がよくあるが、それは最初に文脈をしっかり立てて抽象化を行なっていないからだという事に気づけた。",
              "具体→抽象だけでなく、抽象→具体の活用例についても話があり興味深かった。<br>例）wordpressのブロックテーマのように、先に抽象化パターンがあり、そこに具体（コンテンツ）をはめ込んでいくというプロセス。",
            ],
          },
        ]}
      />
    </section>
    <section class="py-10 min-md:py-[6vw]">
      <h2 class="text-2xl mb-3">7月19日（土）</h2>
      <SessionTable
        sessions={[
          {
            title:
              "ソフトウェア・デザインに向かおう<br> ～ 世界を（ちょっとだけ）変えるソフトウェアを目指して ～",
            summary:
              "ソフトウェア制作の難しさは「複雑な世界に向けて使いやすい道具を作る」というモノづくりの本質的な難しさに起因しているとし、複雑化する技術や手法を取り払った本質的な問題について解説して頂いた。アーキテクチャの本質とは技術構造（ストラクチャ）ではなく、シンプルに問題解決の仕組みであり、最近流行りのDXとはアーキテクチャの移行であるというお話しをして頂いた。",
            slide:
              "https://speakerdeck.com/sugimotokei/phpkanhuarensuguan-xi-2025-ji-diao-jiang-yan",
            memos: [
              "アーキテクチャが新技術の出現で生まれるのではなく、新技術によりアーキテクチャがより便利な方に「移行する」という考え方に認識を新たにさせられた。",
              "「デザインと構造設計は分業されている事が多いが、本来両者は密接している」という話が興味深かった。",
            ],
          },
          {
            title: "PHPでお金を扱う時、終わりのない謎の1円調査の旅にでなくて済む方法",
            summary:
              "PHPで数値がどの様に扱われるかを解説して頂いた上で、会計ソフト等の厳密な計算が必要となる場面でどの様なソリューションを使えば良いかという事をお話し頂いた。string, float, intでそれぞれどの様に数値が扱われているのかも解説して頂いた。",
            slide: "https://speakerdeck.com/carta_engineering/phper-kaigi-2025-nakka",
            memos: [
              "浮動小数点の誤差で意図しない数値が出る問題はwordpressの業務で経験があり、特に原因を深掘りした事がなかったのでとても勉強になった。",
              "BCMathをweb制作で使う場面は実際殆ど無さそうだが、高度な計算や特殊な要件が必要になった場合に使うべき数学ライブラリが存在するという知識は覚えておきたい。",
            ],
          },
          {
            title: "コードは育つ、僕も育つ。 PHPと歩んだ設計物語",
            summary:
              "発表者の実際の失敗談・過去の体験談を元に、にどういったコードを書くべきか・どの様にプロジェクトを保守していくべきかを説明して頂けた。",
            slide:
              "https://fortee.jp/phpcon-kansai2025/proposal/f9664f60-ec52-442b-9b4a-317e8e6830cc",
            memos: [
              "ファイルの切り分け方、整理の仕方は今まさに自分も悩み試行錯誤している問題だったので参考になった。設計についてのインプットを増やそうと思えた。",
              "「当時の状況をドキュメントに残しておく」はとても身に染みた。後になって「この時なんでこんな事したんだっけ？」というのは本当によくある。また、「メモした気もするけどどこに残したか忘れた」もよくあるので、ドキュメントに残す事を強く心がけようと思った",
            ],
          },
          {
            title:
              "「次に何を学べばいいか分からない」あなたへ<br>─若手PHPエンジニアのための学習地図",
            summary:
              "PHP開発に慣れ始めた若手エンジニアが直面する「次に何をどう学べばいいか分からない」という悩みに対し、現代の開発手法・思想がどこから生まれ、なぜ今も重視されているのかを歴史的な視点から解説するセッション。MVCフレームワーク、リファクタリング、アジャイル開発と言った開発に関する考え方や実践方法について触れ、技術書の紹介もして頂いた。",
            slide: "https://speakerdeck.com/panda_program/what-should-you-learn-next",
            memos: [
              "技術書、特に開発手法や思想に関する書籍はあまり読んだ事がなかったので、書籍タイトルを聞くだけでも勉強になった。",
            ],
          },
          {
            title: "Laravelで作るWebアプリを普通に真面目にちゃんとAWSにデプロイする方法",
            summary:
              "「平均80点ぐらい取れるAWS構成」をテーマに、LaravelのアプリケーションをAWSにデプロイする流れを詳細に説明して頂いた。実際のAWSの構成図を出して頂きながら、ハマりやすいポイントや運用上の注意点等を詳しくお話し頂いた。",
            slide: "",
            memos: [
              "「node.jsフレームワーク＋vercelの組み合わせは便利だが、便利過ぎてインフラの勉強にならないのではないか」という話がまさに自分に当てはまっていたので、現状の問題（インフラの知識不足）を認識する事ができた",
              "インフラの知識を深める事でvercel以外でのデプロイの選択肢も増えそうだと思った",
            ],
          },
          {
            title:
              "私たちはなぜ PHPをアップデートしないといけないのか？<br>〜攻めと守り、両面から見たバージョンアップの本当の意味〜",
            summary:
              "PHPのバージョンアップデートについて。新機能や開発体験向上の面ばかり取り沙汰されがちだが、セキュリティの面から言っても重要であるという事を、実際に起こりうるリスクや問題を挙げながら説明して頂いた。PHPに限らずあらゆる言語・フレームワークのバージョンアップの重要性を実感した",
            slide: "",
            memos: ["言語やフレームワークのバージョンアップの重要性について改めて意識できた。"],
          },
        ]}
      />
    </section>
  </main>
</Layout>
